body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Assure une meilleure gestion de la largeur */
}

#calendar {
    max-width: 95%; /* Permet au calendrier de s'étendre à 100% de la largeur du parent */
    margin: 40px auto; /* Centrer le calendrier horizontalement */
}

/* Styles adaptés pour les smartphones */
@media (max-width: 768px) {

    body {
        font-size: 16px; /* ou plus grand si nécessaire */
    }

    #calendar {
        max-width: 100%;
        margin: 20px auto;
        font-size: 14px; /* Taille de police plus grande pour les événements du calendrier */
    }

    button {
        padding: 12px 24px; /* Plus de padding pour un toucher facile */
        font-size: 18px; /* Taille de police plus grande pour les boutons */
    }

    /* Ajustez la taille des champs de formulaire pour une meilleure accessibilité */
    input[type="text"], select {
        font-size: 16px; /* Plus grande taille de police pour les champs de texte et select */
        padding: 10px; /* Plus de padding pour une meilleure interaction */
    }

    .modal-content {
        width: 90%; /* Largeur adaptée pour les petits écrans */
        margin: 10% auto; /* Ajustement de la marge pour centrer verticalement */
        padding: 10px; /* Padding réduit pour les petits écrans */
    }

    /* Réduction de la taille des boutons pour qu'ils s'adaptent mieux aux petits écrans */
    #familyTree button, #btnAjouterParticipants {
        width: 100%;
        font-size: 14px; /* Taille de police réduite pour un meilleur ajustement */
    }

    /* Adapter la taille du texte et des éléments de formulaire pour une meilleure lisibilité */
    input[type="text"], select, button {
        font-size: 16px; /* Taille de police plus grande pour les écrans tactiles */
    }

    .modal {
        padding-top: 30px; /* Padding-top réduit pour les petits écrans */
    }

    /* Ajustement du positionnement et du padding du contenu modal pour les petits écrans */
    .modal-content {
        padding: 10px;
        transform: translateY(-20%); /* Ajustement du centrage vertical */
    }

    /* Réduire la taille et le padding des éléments de la navbar pour une meilleure utilisation sur mobile */
    .top-nav .logo img, .menu-button, .menu a {
        height: 30px; /* Réduction de la taille du logo */
        padding: 5px; /* Réduction du padding */
    }

    /* Styles spécifiques aux mobiles pour le menu déroulant et la navigation */
    .menu {
        display: block; /* Affichage en bloc pour s'adapter aux petits écrans */
    }
}



/* Style pour le label et la liste des participants */
#modalPopup label[for="participants"],
#modalPopup #selectedParticipantsList {
    display: block; /* Affiche le label et la liste en bloc, les forçant à occuper leur propre ligne */
    margin-top: 5px; /* Espace au-dessus du label et de la liste */
}

/* Style pour le bouton 'Ajouter participants' */
#btnAjouterParticipants {
    display: block; /* Affiche le bouton en bloc, le forçant à occuper sa propre ligne */
    margin-top: 5px; /* Espace au-dessus du bouton */
    margin-bottom: 0px;
}

/* Style pour la modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto; /* Centrage horizontal */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Largeur de la modal */
    transform: translateY(-50%); /* Centrage vertical */
    top: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Ombre pour la mise en avant */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.selected-event {
    border: 2px solid rgb(0, 110, 255); /* Exemple de style */
    background-color: lightblue;
}

.evenement-selectionne {
    background-color: #add8e6; /* Choisissez une couleur de surlignage */
    color: white;
}
#arbreGenealogique {
    display: flex;
    flex-direction: column;
}

.generation {
    margin-bottom: 20px;
}

.membre {
    display: block;
    margin: 5px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
#familyTree button {
    display: block;
    width: 20%;
}

.clicked {
    background-color: rgb(151, 151, 243);
    color: white;
}
