/* Style pour la barre de navigation principale */
.top-nav {
    display: flex;
    align-items: center;
    background-color: #1e2838;
    color: white;
    padding-top: 0;
}

/* Style pour le logo dans la barre de navigation */
.logo-img {
    height: 40px; /* ou la taille souhaitée */
    width: auto; /* pour conserver les proportions */
    display: block; /* pour supprimer les marges indésirables autour de l'image */
}

/* Style pour le bouton de menu dans la barre de navigation */
.menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: auto; /* Pousse le bouton vers la droite */
}

/* Style pour le corps - ajustez en fonction de la hauteur de votre barre de navigation */
body {
    margin-top: 50px; /* Ajustez cette valeur en fonction de la hauteur de votre barre de navigation */
}

/* Styles pour le menu déroulant */
.menu {
    display: none;
    background-color: #333;
    position: fixed;
    top: 50px; /* Ajustez ceci à la hauteur de votre barre de navigation */
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1000; /* Assure que le menu est au-dessus des autres éléments */
}

.menu a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

/* Ajout de règles médias pour les smartphones */
@media (max-width: 768px) {
    /* Réduire la hauteur de la barre de navigation et la taille du logo */
    .top-nav {
        padding: 0rem;
        padding-top: 0;
    }

    .logo-img {
        height: 4rem ; /* une taille plus petite pour les écrans mobiles */
        padding: 5px
    }

    /* Ajuster la taille du bouton de menu pour qu'il soit plus accessible */
    .menu-button {
        font-size: 2.6rem; /* Icône de menu plus grande pour les écrans tactiles */
    }

    /* Ajuster le positionnement et la taille du menu déroulant */
    .menu {
        top: 20px; /* Réduction pour correspondre à la hauteur ajustée de la barre de navigation */
    }

    /* Agrandir les liens du menu pour une meilleure accessibilité */
    .menu a {
        padding: 15px; /* Plus de padding pour les liens du menu */
        font-size: 1.2rem; /* Taille de police augmentée pour les écrans tactiles */
    }
}
